# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------

*~
*.autosave
*.a
*.core
*.moc
*.o
*.obj
*.orig
*.rej
*.so
*.so.*
*_pch.h.cpp
*_resource.rc
*.qm
.#*
*.*#
core
!core/
tags
.DS_Store
.directory
*.debug
Makefile*
*.prl
*.app
moc_*.cpp
ui_*.h
qrc_*.cpp
Thumbs.db
*.res
*.rc
/.qmake.cache
/.qmake.stash

# qtcreator 生成文件
*.pro.user*
*.qbs.user*
CMakeLists.txt.user*

# qtdesignstudio 生成文件
*.qtds

# xemacs temporary files
*.flc

# Vim temporary files
.*.swp

# Visual Studio 生成文件
*.ib_pdb_index
*.idb
*.ilk
*.pdb
*.sln
*.suo
*.vcproj
*vcproj.*.*.user
*.ncb
*.sdf
*.opensdf
*.vcxproj
*vcxproj.*

# MinGW 生成文件
*.Debug
*.Release

# Python byte code
*.pyc

# Binaries
# --------
*.dll
*.exe

# Directories with 生成文件
.moc/
.obj/
.pch/
.rcc/
.uic/
/build*/

# 其他
replacements.txt
test/

# 临时
settings.cpp
