# @首次创建日期 2025-08-16 20:05:55(UTC+8) 周六
# @最后更新日期 2025-09-20 23:17:33(UTC+8) 周六
#
# 该文件用于忽略生成的文件
# ----------------------------------------------------------------------------

# 临时
image/font_icon/
image/app_icon/

# 不排除
!image/app_icon/icon.rc

# 生成文件
*~
*.autosave
*.a
*.core
*.moc
*.o
*.obj
*.orig
*.rej
*.so
*.so.*
*_pch.h.cpp
*_resource.rc
*.qm
.#*
*.*#
core
!core/
tags
.DS_Store
.directory
*.debug
Makefile*
*.prl
*.app
moc_*.cpp
ui_*.h
qrc_*.cpp
Thumbs.db
*.res
*.rc
/.qmake.cache
/.qmake.stash
.cache
bin/

# QtCreator 生成文件
*.pro.user*
*.qbs.user*
CMakeLists.txt.user*

# QtDesigner 生成文件
*.qtds

# Xemacs 临时文件
*.flc

# Vim 临时文件
.*.swp

# Visual Studio 生成文件
*.ib_pdb_index
*.idb
*.ilk
*.pdb
*.sln
*.suo
*.vcproj
*vcproj.*.*.user
*.ncb
*.sdf
*.opensdf
*.vcxproj
*vcxproj.*

# MinGW 生成文件
*.Debug
*.Release

# Python 二进制代码
*.pyc

# Binaries
# --------
*.dll
*.exe

# 包含生成文件的目录
.moc/
.obj/
.pch/
.rcc/
.uic/
build*/

# IDE 生成文件
.idea/

# 备份文件
*.backup

# 其他
replacements.txt
不上传到Git的/
server/
Test*Page.qml
.env

